{{!-- <section id="heroSec" style="height: 100vh; position: relative;">

    <!-- Video for hero background -->
    <video id="heroVideo" class="absolute top-0 w-screen h-screen object-cover" autoplay muted loop
        style="z-index: -1;">
        <source id="videoSource" src="/images/JAV_VID.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <!-- Hero overlay -->
    <div id="hero-overlay" class="absolute top-0 left-0 right-0 bottom-0"
        style="background: rgba(0, 11, 107, 0.60); z-index: 0;">
    </div>

    <!-- Hero text content -->
    <div id="textSection"
        class="z-10 w-full absolute text-center text-white top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <!-- Your hero text content here -->
    </div>

</section>


<script>
    //document.addEventListener('DOMContentLoaded', function () {
        //const texts = [
            //{ heading: "Our Financial Institutions Trust Us", video: "/images/JAV_VID.mp4" },
           // { heading: "Upgrade your business.", video: "/images/JAV_VID.mp4" },
            //{ heading: "Empower Your Agri-Business", video: "/images/JAV_VID.mp4" }
        ];

    //const textSection = document.getElementById('textSection');
    //const videoSource = document.getElementById('videoSource');
    //const heroVideo = document.getElementById('heroVideo');
    //let index = 0;

    //function displayNextText() {
    // const text = texts[index];
    //textSection.innerHTML = `
    <div class="imageTextHero">
        <div style="width: 100%; text-align: center; color: white; font-size: 76px; font-family: 'Satoshi', sans-serif; font-weight: 900;">${//text.heading}</div>
        </div>
        `;
            // Update the video source
           // videoSource.src = text.video;
            //heroVideo.load(); // Needed to reload the video with new source
            //heroVideo.play(); // Ensure the video plays after source change

            //index = (index + 1) % texts.length;
        }

        //displayNextText();
        //setInterval(displayNextText, 5000);
    });
</script> --}}

<section id="heroSec" class="relative lg:pt-20">
    <!-- Video for hero background -->
    <video id="heroVideo" class="absolute top-0 left-0 w-full h-full object-cover" autoplay muted loop playsinline
        preload="auto">
        <source id="videoSource" src="/images/javolin_vid.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <!-- Control icons -->
    <div id="controls" class="absolute bottom-4 right-4 flex space-x-4 z-10">
        <i id="playPauseIcon"
            class="fa-solid fa-pause text-white text-xl sm:text-2xl h-10 w-10 sm:h-12 sm:w-12 flex items-center justify-center rounded-full cursor-pointer hover:bg-opacity-70"></i>
        <i id="muteIcon"
            class="fa-solid fa-volume-mute text-white text-xl sm:text-2xl h-10 w-10 sm:h-12 sm:w-12 flex items-center justify-center bg-black bg-opacity-50 rounded-full cursor-pointer hover:bg-opacity-70"></i>
    </div>
</section>

<script>
    function updateVideoSource() {
        var videoSource = document.getElementById('videoSource');
        var screenWidth = window.innerWidth;

        if (screenWidth <= 768) {
            // Mobile and tablet devices
            videoSource.src = '/images/javolin_vid_mobile.mp4';
        } else {
            // Desktop devices
            videoSource.src = '/images/javolin_vid.mp4';
        }

        // Reload the video element to apply the new source
        var heroVideo = document.getElementById('heroVideo');
        heroVideo.load();
    }

    // Initial update on page load
    updateVideoSource();

    // Update video source on window resize
    window.addEventListener('resize', updateVideoSource);
</script>


<!-- Tooltip -->
{{!-- <div id="tooltip"
    class="absolute bottom-20 right-4 w-72 bg-[#3DA31F] rounded-lg border border-[#3DA31F] p-4 flex flex-col justify-between z-20"
    style="height: 102px;">
    <div class="text-white text-sm font-black font-['Satoshi'] leading-snug">Interact with the video here.</div>
    <div class="text-neutral-50/80 text-xs font-medium font-['Satoshi'] leading-tight mt-2">You can easily mute,
        unmute, play, and pause.</div>
    <div class="flex justify-end mt-2 relative">
        <div class="w-14 h-6 px-3 py-1.5 rounded-3xl border border-white justify-center items-center gap-2 inline-flex cursor-pointer"
            id="gotItButton">
            <div class="text-white text-xs font-medium font-['Satoshi'] tracking-tight">Got it!</div>
        </div>
        <div class="tooltip-arrow absolute"></div>
    </div>
</div> --}}










<section id="products"
    class="relative py-4 lg:px-24 bg-cover bg-center bg-no-repeat lg:bg-[url('/images/new-value-bg.png')] lg:bg-fixed"
    x-data="carousel()" x-init="init()" style="height: 800px; overflow: hidden;">
    <!-- Carousel Title -->
    <h2
        class="lg:slide lg:fadeRight lg:animation-element mt-14 mx-10 text-center text-justify text-slate-900 text-xl sm:text-xl md:text-xl lg:text-3xl font-medium  md:leading-normal lg:leading-relaxed font-['Satoshi']">
        At JAVOLIN we focus on combining the digital and physical worlds. We impact industries with our tech by
        accelerating
        efficiencies in payments, inventory management, logistics tracking and owned commodities.
    </h2>

    <!-- Carousel container -->
    <div class="valuepropositioncarousel flex justify-center items-center h-full lg:slide lg:fadeRight lg:animation-element"
        style="perspective: 1000px; position: relative; overflow: visible; width: 90%; margin: 0 auto; margin-top: -6rem;">

        <!-- Left navigation arrow with circle -->
        {{{leftArrowSVG}}}

        <!-- Right navigation arrow with circle -->
        {{{ rightArrowSVG }}}

        <!-- Carousel slides -->
        <template x-for="(slide, index) in slides" :key="index">
            <div @click="setActiveSlide(index)" @mouseenter="mouseEnter(index)" @mouseleave="mouseLeave(index)"
                class="absolute transition-transform duration-300 ease-in-out cursor-pointer"
                :class="{ 'active': slide.active, 'inactive': !slide.active }" :style="slideStyles(index).style">

                <!-- Card -->
                <div :class="slideStyles(index).class"
                    style="position: relative; padding: 1rem; border-radius: 1rem; margin-top: -6rem; perspective: 1000px;">
                    <div :class="{ 'flip-card-inner': true, 'flipped': slide.flipped }"
                        style="transition: transform 0.8s;">
                        <div class="flip-card-front"
                            style="position: absolute; width: 100%; height: 100%; backface-visibility: hidden;">
                            <img :src="slide.image" class="object-contain"
                                :style="'height: calc(2/3 * ' + slideHeight + 'px); width: 100%;'" />
                            <!-- Text Label -->
                            <div class="absolute bottom-15 left-0 w-full text-center"
                                style="padding: 1rem; bottom: 3rem;">
                                <span x-text="slide.label" class="text-xl font-bold font-['Satoshi']"></span>
                            </div>
                        </div>
                        <div class="flip-card-back bg-blue-800"
                            style="border-radius: 1rem; position: absolute; width: 100%; height: 100%; color: white; display: flex; align-items: flex-start; justify-content: center; backface-visibility: hidden; transform: rotateY(180deg); padding-top: 1rem;">
                            <div class="flex flex-col items-center text-center space-y-1" style="margin-top: 0.5rem;">
                                <!-- Adjust margin to move the title up -->
                                <span x-text="slide.label"
                                    class="w-56 text-center text-white text-2xl font-bold font-['Satoshi'] mb-10 my"></span>
                                <div style="width: 280px; text-align: center; color: white; font-size: 18px; font-family: Satoshi; font-weight: 400; "
                                    class="mt-10">
                                    <span x-text="slide.content"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Arrow -->
                    <div class="arrow-container"
                        style="position: absolute; bottom: 15px; left: 50%; transform: translateX(-50%) rotate(-45deg); transform-origin: center;">
                        <!-- SVG for active card's arrow {{{activeCardArrowSVG}}} -->
                    </div>
                </div>
            </div>
        </template>
    </div>

    <!-- Navigation Dots -->
    <div class="absolute bottom-10 left-1/2 transform -translate-x-1/2 flex space-x-2">
        <template x-for="(slide, index) in slides" :key="index">
            <div @click="setActiveSlide(index)" class="cursor-pointer">
                <!-- Active dot with slight raise -->
                <div x-show="slide.active" class="transform -translate-y-0.5">
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="8" cy="8" r="8" fill="#6CC24A" />
                    </svg>
                </div>
                <!-- Non-active dot -->
                <div x-show="!slide.active">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" fill="#CAD9C5" />
                    </svg>
                </div>
            </div>
        </template>
    </div>
</section>



<section id="platform"
    style="background: url('/images/tech_bg.png') no-repeat; background-size: cover; background-color: #00007E; background-blend-mode: overlay;"
    class="p-10 relative  lg:px-24 py-20 bg-[#1A1A40]">
    <div class="flex flex-col lg:flex-col h-[550px]">
        <div class="grid lg:grid-cols-2 md:grid-cols-2 justify-center items-center relative t-service">
            <div class="fadeLeft animation-element z-30 transition duration-150 ease-in-out absolute top-0">
                <h3 class="text-[#6CC24A] text-[20px] sm:text-[24px] md:text-[28px] lg:text-[30px] xl:text-[34px]">OUR TECHNOLOGY</h3>

                <div
                    class="opacity-100 transition duration-150 ease-in-out absolute tech-service w-full sm:w-[300px] md:w-[400px] lg:w-[500px]">
                    <p id="tech-subtitle" class="text-[24px] sm:text-[28px] md:text-[36px] lg:text-[44px] text-white mt-2 font-bold">
                        Digital KYC</p>
                    <p id="tech-content"
                        class="text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] text-[#FAFAFA] mt-4 max-w-xl opacity-70">
                        JAV KYC specializes in providing customized identity & digital KYC solutions. Our services contribute to an
                        expedited onboarding procedure, enhanced compliance, and a reduction in unnecessary in-office application
                        procedures.
                    </p>
                </div>

                <div
                    class="opacity-0 transition duration-150 ease-in-out absolute tech-service w-full sm:w-[300px] md:w-[400px] lg:w-[500px]">
                    <p id="tech-subtitle"
                        class="text-[24px] sm:text-[28px] md:text-[36px] lg:text-[44px] text-white mt-2 font-bold max-w-xl">JAV Connect
                    </p>
                    <p id="tech-content"
                        class="text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] text-[#FAFAFA] mt-4 max-w-xl opacity-70">
                        JAV Connects multi-location enterprises via our unified & efficient API network. Customers benefit from
                        significantly faster transactions and enabled same-day settlements.
                    </p>
                </div>

                <div
                    class="opacity-0 transition duration-150 ease-in-out absolute tech-service w-full sm:w-[300px] md:w-[400px] lg:w-[500px]">
                    <p id="tech-subtitle"
                        class="text-[24px] sm:text-[28px] md:text-[36px] lg:text-[44px] text-white mt-2 font-bold max-w-xl">JAV API</p>
                    <p id="tech-content"
                        class="text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] text-[#FAFAFA] mt-4 max-w-xl opacity-70">
                        JAV API provides application programming interfaces (APIs) that are secure to our customers who want to build on
                        top of our system. Developers who want to leverage the JAV technology can get proprietary access to our APIs.
                    </p>
                </div>

                <div
                    class="opacity-0 transition duration-150 ease-in-out absolute tech-service w-full sm:w-[300px] md:w-[400px] lg:w-[500px]">
                    <p id="tech-subtitle"
                        class="text-[24px] sm:text-[28px] md:text-[36px] lg:text-[44px] text-white mt-2 font-bold max-w-xl">JAV AI</p>
                    <p id="tech-content"
                        class="text-[16px] sm:text-[18px] md:text-[20px] lg:text-[24px] text-[#FAFAFA] mt-4 max-w-xl opacity-70">
                        JAV AI revolutionizes banking customer service by providing banks with advanced, text-based conversational AI.
                        This enables natural language interactions between customers and banking applications, leveraging precise,
                        data-driven responses from the bank's own enterprise data.
                    </p>
                </div>
            </div>
            <div class="ts-icons grid grid-cols-3 lg:grid-cols-4 grid-rows-4 grid-flow-col gap-2 lg:gap-4 col-start-2 z-20">
                <div class="ts w-24 h-24 lg:w-40 lg:h-40 bg-white rounded-2xl flex flex-col items-center justify-center">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="53" height="51" viewBox="0 0 53 51" fill="none">
                            <g clip-path="url(#clip0_4288_1448)">
                                <path
                                    d="M0.5 2.73684C0.5 1.22533 1.72533 0 3.23684 0H35.7653C37.3939 0 38.6621 1.41354 38.4862 3.03258L35.5488 30.0564C35.4522 30.9446 34.9282 31.7298 34.1451 32.1598L4.55397 48.4059C2.73004 49.4072 0.5 48.0876 0.5 46.0068V2.73684Z"
                                    fill="url(#paint0_angular_4288_1448)" />
                                <circle cx="35.3943" cy="32.158" r="17.1053" fill="#6EDB64" fill-opacity="0.7" />
                            </g>
                            <defs>
                                <radialGradient id="paint0_angular_4288_1448" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(19.6579 25.3158) rotate(57.5336) scale(23.9233 18.1041)">
                                    <stop stop-color="#D1A03F" />
                                    <stop offset="1" stop-color="#D2B241" />
                                </radialGradient>
                                <clipPath id="clip0_4288_1448">
                                    <rect width="52" height="50.6316" fill="white" transform="translate(0.5)" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="art-text text-black text-sm lg:text-lg">
                        Digital KYC
                    </div>
                </div>
                <div
                    class="ts unfocus-tech w-24 h-24 lg:w-40 lg:h-40 bg-white rounded-2xl flex flex-col items-center justify-center col-start-4 ">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="63" height="63" viewBox="0 0 63 63" fill="none">
                            <g clip-path="url(#clip0_4244_3553)">
                                <path
                                    d="M33.4324 36.9645C31.2565 38.2748 28.4654 36.8165 28.2982 34.282L26.3645 4.95933C26.1903 2.31814 28.9737 0.504141 31.3197 1.72989L58.428 15.8934C60.774 17.1192 60.8746 20.44 58.607 21.8054L33.4324 36.9645Z"
                                    fill="#D2AC41" />
                                <circle cx="25.0934" cy="40.5231" r="22.4762" fill="url(#paint0_angular_4244_3553)"
                                    fill-opacity="0.9" />
                            </g>
                            <defs>
                                <radialGradient id="paint0_angular_4244_3553" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(25.0934 40.5231) rotate(73.0725) scale(35.2411)">
                                    <stop stop-color="#CF52B4" />
                                    <stop offset="1" stop-color="#AD2C91" />
                                </radialGradient>
                                <clipPath id="clip0_4244_3553">
                                    <rect width="63" height="63" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="art-text text-black text-sm lg:text-lg ">
                        JAV Connect
                    </div>
                </div>
                <div
                    class="ts unfocus-tech w-24 h-24 lg:w-40 lg:h-40 bg-white rounded-2xl flex flex-col items-center justify-center row-start-2 col-start-3 ">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="77" height="59" viewBox="0 0 77 59" fill="none">
                            <g clip-path="url(#clip0_4244_3620)">
                                <path
                                    d="M66.4288 11.7692C65.6893 9.68755 63.4023 8.59947 61.3206 9.33895L23.691 22.7061C22.2633 23.2133 21.2447 24.4835 21.0599 25.9873L19.2305 40.8681C19.0731 42.1485 19.5428 43.4262 20.4921 44.2997L30.9678 53.9391C32.0594 54.9436 33.6173 55.2615 35.0152 54.7649L72.7017 41.3775C74.7834 40.6381 75.8714 38.351 75.132 36.2693L66.4288 11.7692Z"
                                    fill="url(#paint0_angular_4244_3620)" />
                                <path
                                    d="M0 4C0 1.79086 1.79086 0 4 0H43.9333C45.4484 0 46.8334 0.856009 47.511 2.21115L54.216 15.6212C54.7929 16.775 54.778 18.1362 54.1758 19.2771L47.5311 31.867C46.8387 33.179 45.4771 34 43.9936 34H4C1.79086 34 0 32.2091 0 30V4Z"
                                    fill="#6EDB64" fill-opacity="0.7" />
                            </g>
                            <defs>
                                <radialGradient id="paint0_angular_4244_3620" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(44.8031 33.2472) rotate(-129.149) scale(21.2754 34.5006)">
                                    <stop stop-color="#4AC2C2" />
                                    <stop offset="1" stop-color="#449C9C" />
                                </radialGradient>
                                <clipPath id="clip0_4244_3620">
                                    <rect width="76.4709" height="58.4944" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </div>
                    <div class="art-text text-black text-sm lg:text-lg">
                        JAV API
                    </div>
                </div>
                <div
                    class="ts unfocus-tech w-24 h-24 lg:w-40 lg:h-40 bg-white rounded-2xl flex flex-col items-center justify-center row-start-3 col-start-1">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="69" viewBox="0 0 65 69" fill="none">
                            <path
                                d="M38.1328 19.0664C38.1328 29.5965 30.9829 38.7286 19.0664 48.8577C5.95825 36.3453 0 29.5965 0 19.0664C0 8.53632 8.53632 0 19.0664 0C29.5965 0 38.1328 8.53632 38.1328 19.0664Z"
                                fill="url(#paint0_angular_4244_3672)" fill-opacity="0.9" />
                            <path
                                d="M25.198 61.3312C17.7513 54.1649 16.1591 42.8937 17.1057 27.5732C34.875 26.8186 43.7026 27.1979 51.1493 34.3642C58.5961 41.5304 58.8234 53.3766 51.6572 60.8233C44.4909 68.27 32.6448 68.4974 25.198 61.3312Z"
                                fill="url(#paint1_angular_4244_3672)" fill-opacity="0.8" />
                            <defs>
                                <radialGradient id="paint0_angular_4244_3672" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(19.0664 24.4288) rotate(76.6376) scale(37.6629 30.4028)">
                                    <stop stop-color="#CF52B4" />
                                    <stop offset="1" stop-color="#AD2C91" />
                                </radialGradient>
                                <radialGradient id="paint1_angular_4244_3672" cx="0" cy="0" r="1"
                                    gradientUnits="userSpaceOnUse"
                                    gradientTransform="translate(34.3815 44.1983) rotate(16.8783) scale(59.4421 76.1602)">
                                    <stop offset="0.35566" stop-color="#2F61D0" />
                                    <stop offset="0.529116" stop-color="#3D75F0" />
                                    <stop offset="1" stop-color="#12398F" />
                                </radialGradient>
                            </defs>
                        </svg>
                    </div>
                    <div class="art-text text-black text-sm lg:text-lg">
                        JAV AI
                    </div>
                </div>
            </div>
            
            <div class="bg-white">
                <svg class="javLineLink left-[53.8vw] top-[40px] height-[104px] w-[413px]"
                    data-js-controller="javLineLink" data-js-id="Sticky-techConnection"
                    style="position: absolute; z-index: 0;">
                    <defs>
                        <linearGradient class="RotatingGradient" id="Sticky-techmovement" gradientUnits="userSpaceOnUse"
                            data-js-controller="RotatingGradient" data-js-start-rotation="" data-js-speed=""
                            x1="82.37275434096986" x2="17.627245659029725" y1="88.1051804401871" y2="11.89481955981325">
                            <stop offset="0" stop-color="#11EFE3"></stop>
                            <stop offset="1" stop-color="#9966FF"></stop>
                        </linearGradient>
                    </defs>
                    <!-- Horizontal line -->
                    <path stroke="url(#Sticky-techmovement)" stroke-width="2" fill="none"
                        data-js-target="javLineLink.path" d="M1,52 L503,52"
                        style="stroke-dasharray: 503px; stroke-dashoffset: 503px;"></path>
                </svg>
            </div>
            <div>
                <svg class="javLineLink HomepageFrontdoorSuiteAnimation__connection--paymentsTerminal left-[70vw] top-[140px] h-[104px]"
                    data-js-controller="javLineLink" data-js-id="Sticky-techConnection"
                    style="position: absolute; z-index: 0;">
                    <defs>
                        <linearGradient class="RotatingGradient" id="Sticky-techConnectionGradient"
                            gradientUnits="userSpaceOnUse" data-js-controller="RotatingGradient"
                            data-js-start-rotation="" data-js-speed="" x1="82.37275434096986" x2="17.627245659029725"
                            y1="88.1051804401871" y2="11.89481955981325">
                            <stop offset="0" stop-color="#11EFE3"></stop>
                            <stop offset="1" stop-color="#9966FF"></stop>
                        </linearGradient>
                    </defs>
                    <path stroke="url(#Sticky-techConnectionGradient)" stroke-width="2" fill="none"
                        data-js-target="javLineLink.path" d="M200,20 L200,100 L80,100"
                        style="stroke-dasharray: 300px; stroke-dashoffset: 300px;"></path>
                </svg>
            </div>
            <div>
                <svg class="javLineLink HomepageFrontdoorSuiteAnimation__connection--paymentsTerminal"
                    data-js-controller="javLineLink" data-js-id="Sticky-techConnection"
                    style="position: absolute; z-index: 0; left: 44vw; top: 250px; height: 104px; width:400px;">
                    <defs>
                        <linearGradient class="RotatingGradient" id="Sticky-techConnectionGradient"
                            gradientUnits="userSpaceOnUse" data-js-controller="RotatingGradient"
                            data-js-start-rotation="" data-js-speed="" x1="82.37275434096986" x2="17.627245659029725"
                            y1="88.1051804401871" y2="11.89481955981325">
                            <stop offset="0" stop-color="#11EFE3"></stop>
                            <stop offset="1" stop-color="#9966FF"></stop>
                        </linearGradient>
                    </defs>
                    <path stroke="url(#Sticky-techConnectionGradient)" stroke-width="2" fill="none"
                        data-js-target="javLineLink.path" d="M500,20 L100,20 L100,400"
                        style="stroke-dasharray: 500px; stroke-dashoffset: 500px;"></path>
                </svg>
            </div>
            <div>
                <svg class="javLineLink HomepageFrontdoorSuiteAnimation__connection--paymentsTerminal"
                    data-js-controller="javLineLink" data-js-id="Sticky-techConnection"
                    style="position: absolute; z-index: 0; left: 47vw; top: 160px; height:300px;">
                    <defs>
                        <linearGradient class="RotatingGradient" id="Sticky-techConnectionGradient"
                            gradientUnits="userSpaceOnUse" data-js-controller="RotatingGradient"
                            data-js-start-rotation="" data-js-speed="" x1="82.37275434096986" x2="17.627245659029725"
                            y1="88.1051804401871" y2="11.89481955981325">
                            <stop offset="0" stop-color="#11EFE3"></stop>
                            <stop offset="1" stop-color="#9966FF"></stop>
                        </linearGradient>
                    </defs>
                    <path stroke="url(#Sticky-techConnectionGradient)" stroke-width="2" fill="none"
                        data-js-target="javLineLink.path" d="M10,196 L10,0"
                        style="stroke-dasharray: 300px; stroke-dashoffset: 300px;"></path>
                </svg>
            </div>

        </div>

    </div>

</section>

<!--
<section id="agrisection" x-data="{ shrink: false }"
    x-init="window.addEventListener('scroll', () => { shrink = window.scrollY > $el.offsetTop; })"
    class="relative flex justify-center items-center p-[59px] min-h-screen transform transition-transform duration-2000 ease-in-out"
    style="background: url('/images/agri-bg.png') no-repeat center center; background-size: cover;">


    <video :class="shrink ? 'w-[1247px] h-[696px] rounded-58' : 'absolute inset-0 w-full h-full'"
        class="object-cover z-0 transition-all duration-2000 ease-in-out" autoplay loop muted>
        <source src="/images/agri-vid.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center z-10">
        <div class="relative w-[1247px] h-[696px] transition-all duration-2000 ease-in-out"
            :class="shrink ? 'rounded-58' : ''">
            <div :class="shrink ? 'card-shrink' : 'card-normal'" class="transition-all duration-2000 ease-in-out">
                <div class="text-white text-[35.91px] font-black font-satoshi mb-[20.52px]" style="width: 554.06px;">
                    Agribusiness Trading Platform
                </div>
                <div class="text-neutral-50/80 text-[20.52px] font-medium font-satoshi pb-14"
                    style="width: 554px; height: 180px;">
                    Arcu malesuada porta sed eros adipiscing egestas nam. Amet vitae quis lobortis sit fames venenatis
                    non tellus praesent. Massa accumsan imperdiet mauris sit consectetur suscipit. Egestas aliquam
                    mauris platea leo. Ac porttitor tincidunt neque sed amet quis quis tincidunt morbi. Adipiscing
                    parturient quis ut vel.
                </div>
            </div>
        </div>
    </div>

</section>
-->



<section id="agrisection" x-data="{ shrink: false }"
    class="relative flex justify-center items-center min-h-screen transform transition-transform duration-2000">

    <video :class="shrink ? 'shrink-video' : 'full-video'" class="object-cover z-0 full-video" autoplay="" loop=""
        muted="">
        <source src="/images/agri-vid.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <div
        class="absolute top-[55px] md:top-[92px] lg:top-0 left-0 w-full h-full flex justify-center items-center z-10 p-4">
        <div
            class="relative w-full max-w-lg md:max-w-3xl lg:max-w-4xl bg-[#000638] bg-opacity-60 rounded-xl p-4 sm:p-6 lg:p-10 backdrop-blur-lg mx-5">
            <div class="flex flex-col items-center justify-start pt-12 sm:pt-[42px]">

                <!-- JAV AgriTech Button -->
                <div
                    class="absolute top-[-10px] sm:top-[-20px] md:top-[-30px] lg:top-[-40px] bg-[#0032A0] rounded-full flex justify-center items-center py-2 sm:py-3 md:py-4 px-3 sm:px-4 md:px-6">
                    <div
                        class="font-bold text-white text-sm sm:text-lg md:text-xl lg:text-[29px] font-satoshi leading-tight">
                        JAV AGRI-TECH
                    </div>
                </div>

                <!-- Overview Text -->
                <div
                    class="text-justify text-center text-white text-opacity-80 text-sm sm:text-base md:text-lg lg:text-[23px] font-satoshi lg:max-w-[983px]">
                    <p class="mt-6 lg:fadeRight lg:animation-element">
                        Our AGRI-TECH connects growers, traders, domestic and international buyers seamlessly through
                        the integration of our inventory management, logistics, and payments modules. It facilitates
                        local buyers inputting current inventories on hand, allows for tracking local trucking to
                        shipping facilities, and highlights for traders and international buyers the current purchasing
                        opportunities.
                    </p>

                    <p class="mt-4 lg:mt-6 lg:fadeLeft lg:animation-element">
                        We imagined a world where a small farmer could produce 10 bags of cassava, make it readily known
                        to domestic or international buyers that it’s for sale, sell it to them and then receive their
                        payment in mobile currency on the same day. Our system was developed around this cause. JAVOLIN
                        also sells its own inventory via our trading platform to registered clients.
                    </p>
                </div>

                <!-- Horizontal Line -->
                <div class="my-8 md:my-6 lg:mt-8 w-full lg:w-[748px] h-0 border-t border-white border-opacity-20"></div>
            </div>
        </div>
    </div>
</section>






<section id="solutions"
    class="p-6 lg:p-10 flex flex-col justify-center items-center lg:flex-row bg-white bg-no-repeat bg-cover bg-fixed">
    <div class="flex flex-col justify-center items-center max-w-screen-sm lg:max-w-full">
        <div class="lg:slide lg:fadeLeft lg:animation-element text-center text-[#6CC24A] font-medium tracking-[1.20px] break-words text-[20px] md:text-[20px] lg:text-[29px]"
            style="font-family: 'Satoshi', sans-serif;">
            OUR SOLUTIONS
        </div>


        <div class="lg:slide lg:fadeRight lg:animation-element w-96 lg:w-full m-0 text-center text-[#000638] break-words font-normal lg:font-bold text-[24px] md:text-[24px] lg:text-[40px]" style="font-family: 'Satoshi', sans-serif;">
            Our customizable solutions empower broader participation across industries and borders.
        </div>



                <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-11 my-12 justify-center relative">
<!-- Foreign Exchange Card -->
<div class="card lg:slide lg:fadeRight lg:animation-element w-[380px] h-[400px] lg:w-[398px] lg:h-[467px] md:w-[380px] md:h-[400px] mx-auto"
    style="position: relative; box-shadow: 0px 10px 20px rgba(37.73, 40.08, 60.57, 0.30); border-radius: 16px; overflow: hidden">
    <div class="w-full h-full absolute bg-[#000638]"></div>
    <img class="w-full h-full absolute" src="/images/remi.png" alt="Foreign Exchange" />
    <div class="card-title absolute left-8 top-[270px] text-white text-[32px] lg:text-[40px] font-bold"
        style="font-family: 'Satoshi', sans-serif; word-wrap: break-word">
        Payments
    </div>
    <div class="card-hover-content absolute bottom-0 w-full h-[362px] bg-white">
        <div class="absolute left-8 top-8 flex flex-col items-start gap-3">
            <div class="text-[#000C26] text-[28px] lg:text-[28px] font-bold" style="word-wrap: break-word">Payments
            </div>
            <div class="text-[#5D6066] text-[16px] font-medium" style="word-wrap: break-word">
                Javolin allows businesses to make digital payments to suppliers and employees across borders from our
                platforms. Businesses can track the inflow and outflow of money from their wallet using a simplified
                dashboard with supportive analytic components.
            </div>
        </div>
    </div>
</div>

            <div class="card lg:slide lg:fadeRight lg:animation-element w-[380px] h-[400px] lg:w-[398px] lg:h-[467px] md:w-[380px] md:h-[400px] mx-auto md:mx-0 lg:mx-0"
                style="position: relative; box-shadow: 0px 10px 20px rgba(37.73, 40.08, 60.57, 0.30); border-radius: 16px; overflow: hidden">
                <div style="width: 398px; height: 467px; position: absolute; background: #000638"></div>
                <img style="width: 398px; height: 467px; position: absolute" src="/images/inventory.png"
                    alt="Foreign Exchange" />
                <div class="card-title text-[32px] lg:text-[40px]"
                    style="width: 337px; position: absolute; left: 32px; top: 270px; color: white; font-family: 'Satoshi', sans-serif; font-weight: 700; word-wrap: break-word">
                    Inventory & Logistics
                </div>


                <div class="card-hover-content"
                    style="width: 398px; height: 362px; position: absolute; bottom: 0; background: white;">
                    <div
                        style="left: 32px; top: 32px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">
                        <!-- Arrow container adjusted to the far right bottom corner -->

                        <div class="text-[28px] lg:text-[28px]"
                            style="width: 334px; color: #000C26; font-family: Satoshi; font-weight: 700; word-wrap: break-word">
                            Inventory & Logistics
                        </div>
                        <div
                            style="width: 334px; height: 203px; color: #5D6066; font-size: 16px; font-family: Satoshi; font-weight: 500; word-wrap: break-word">
                            We allow farmers and other businesses to input current inventory levels that can be purchased by domestic &
                            international buyers, and receive payment directly to their mobile money account, bank card, or bank account. Our added
                            logistics module allows purchasers to track the product from the seller, through our warehouse network to their local
                            facilities or vessels for international shipping.
                        </div>
                    </div>
                </div>
            </div>


            <div class="card lg:slide lg:fadeRight lg:animation-element w-[380px] h-[400px] lg:w-[398px] lg:h-[467px] md:w-[380px] md:h-[400px] mx-auto md:mx-0 lg:mx-0"
                style="position: relative; box-shadow: 0px 10px 20px rgba(37.73, 40.08, 60.57, 0.30); border-radius: 16px; overflow: hidden">
                <div style="width: 398px; height: 467px; position: absolute; background: #000638"></div>
                <img style="width: 398px; height: 467px; position: absolute" src="/images/commodities_marketplace.png"
                    alt="Foreign Exchange" />
                <div class="card-title text-[32px] lg:text-[40px]"
                    style="width: 337px; position: absolute; left: 32px; top: 240px; color: white; font-family: 'Satoshi', sans-serif; font-weight: 700; word-wrap: break-word">
                    Agri Commodities Marketplace
                </div>
                <div class="card-hover-content"
                    style="width: 398px; height: 362px; position: absolute; bottom: 0; background: white;">
                    <div
                        style="left: 32px; top: 32px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 12px; display: inline-flex">


                        <div class="text-[28px] lg:text-[28px]"
                            style="width: 334px; color: #000C26; font-family: Satoshi; font-weight: 700; word-wrap: break-word">
                            Agri Commodities Marketplace</div>
                        <div
                            style="width: 334px; height: 203px; color: #5D6066; font-size: 16px; font-family: Satoshi; font-weight: 500; word-wrap: break-word">
                            All agri commodities available for sale from our partners are available for our clients in real time. By registering
                            for our marketplace, domestic & international buyers can better plan their procurement strategies. We currently cover
                            Ghana, Nigeria & Senegal.
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<section id="javfinance" class="relative bg-[#1A1A40] overflow-hidden"
    style="background-image: url('/images/invest_bg1.png'); background-size: cover; background-color: #000B6B; background-blend-mode: overlay;">
    <div class="relative z-10 grid grid-cols-1 lg:grid-cols-2 gap-10 items-center">
        <div class="p-10 pb-6 lg:px-24 mt-4">
            <h3 class="text-[#6CC24A] font-size: 20px lg:text-[29px] md:font-size: 18px; lg:animation-element lg:fadeLeft text-center">JAV FINANCE</h3>
            <p class="hidden lg:block text-[44px] text-white mt-2 font-bold leading-tight lg:animation-element lg:fadeRight"
                style="width: 800px; max-width: 800px;">
                Earn a stabilized return by lending alongside us in the commodities sector.
            </p>
            <!-- Medium Screen Text -->
            <p class="text-center hidden md:block lg:hidden text-[28px] text-white mt-2 font-bold leading-tight lg:animation-element lg:fadeRight"
                style="max-width: 800px;">
                Earn a stabilized return by lending alongside us<br> in the commodities sector.
            </p>
            <!-- Small Screen Text -->
            <p class="text-center block md:hidden text-[28px] text-white mt-2 font-bold leading-tight lg:animation-element lg:fadeRight"
                style="max-width: 800px;">
                Earn a stabilized return by lending alongside<br> us in the commodities<br> sector.
            </p>
            <p class="text-center lg:text-[24px] md:text-[20px] text-[22px] text-[#FAFAFA] mt-4 max-w-xl opacity-70 lg:animation-element lg:fadeLeft">
                JAVOLIN provides investors and lenders an opportunity to earn a stable and predictable return by
                participating in our
                Agri Commodities trading platform. We provide trade financing to traders for a variety of
                agri-commodities backed by
                purchase orders from large international buyers. This platform is only open to sophisticated investors
                and/or lenders.
                Contact trade@javolin.com for more information.
            </p>
        </div>
        <div class="lg:animation-element lg:fadeRight self-end order-1 lg:order-2 flex justify-center">
            <img class="hidden lg:block w-full h-full" src="/images/invest.png" alt="Investment Image">
            <img class="block lg:hidden w-full h-full" src="/images/invest_mobile.png" alt="Investment Image">
        </div>
    </div>
</section>


<section class="quoteText" style="background: url('/images/agri-bg.png') no-repeat center center; background-size: cover;">
    <div>
        <div class="py-10 flex justify-center items-center mb-4 lg:fadeRight lg:animation-element">
            <div class="w-[382px] lg:w-full text-center text-blue-800 text-[32px] lg:text-[40px] font-bold font-['Satoshi'] tracking-wider">
                Community Impact
            </div>
        </div>
        <div class="italic flex justify-center items-center flex-row relative lg:fadeLeft lg:animation-element">
            <div class="lg:max-w-[1000px]" id="quoteText"
                style="display: flex; align-items: center; justify-content: center; min-height: 250px;">
                <span style="font-size: 70px; color: #6CC24A; line-height: 1;">“</span>
                <span style="line-height: 1.1; margin-right: 5px;">
                    We improve the communities in which we live and work by strengthening access to healthcare, essential
                    resources,
                    education, and athletics.
                </span>
                <span style="font-size: 70px; color: #6CC24A; line-height: 1;">”</span>
            </div>
        </div>
        <div class="lg:fadeRight lg:animation-element mt-14 relative justify-center overflow-visible">
            <div id="carousel" class="carousel flex justify-center p-2">
                <div class="community-image flex-shrink-0 w-full md:w-1/4 lg:w-1/4 p-2">
                    <img class="w-full h-full object-cover rounded-2xl hover:transform hover:translate-y-[-10px] duration-300 ease-in-out"
                        style="height: 315px;" src="/images/commm1.png" alt="community service">
                </div>
                <div class="community-image flex-shrink-0 w-full md:w-1/4 lg:w-1/4 p-2 hidden sm:block">
                    <img class="w-full h-full object-cover rounded-2xl hover:transform hover:translate-y-[-10px] duration-300 ease-in-out"
                        style="height: 315px;" src="/images/commm2.png" alt="community service">
                </div>
                <div class="community-image flex-shrink-0 w-full md:w-1/4 lg:w-1/4 p-2 hidden sm:block">
                    <img class="w-full h-full object-cover rounded-2xl hover:transform hover:translate-y-[-10px] duration-300 ease-in-out"
                        style="height: 315px;" src="/images/commm3.png" alt="community service 3">
                </div>
                <div class="community-image flex-shrink-0 w-full md:w-1/4 lg:w-1/4 p-2 hidden sm:block">
                    <img class="w-full h-full object-cover rounded-2xl hover:transform hover:translate-y-[-10px] duration-300 ease-in-out"
                        style="height: 315px;" src="/images/comm2.png" alt="community service 4">
                </div>
            </div>
        </div>
        
        <!-- Navigation Dots -->
        <div class="flex justify-center my-12">
            <div class="flex space-x-2">
                <div class="navigation-dot cursor-pointer" data-index="0">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" fill="#CAD9C5" />
                    </svg>
                </div>
                <div class="navigation-dot cursor-pointer" data-index="1">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" fill="#CAD9C5" />
                    </svg>
                </div>
                <div class="navigation-dot cursor-pointer" data-index="2">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" fill="#CAD9C5" />
                    </svg>
                </div>
                <div class="navigation-dot cursor-pointer" data-index="3">
                    <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="6" cy="6" r="6" fill="#CAD9C5" />
                    </svg>
                </div>
            </div>
        </div>
        
    </div>
</section>




<section id="news" class="md:p-8 relative p-10 lg:px-24"
    style="background: url('/images/news_bg.png') no-repeat center center; background-size: cover;">

    <div class="text-center  text-white text-3xl md:text-4xl font-black font-['Satoshi']">News & Announcements</div>
    <div style="box-shadow: 0px 20.952px 38.095px 0px rgba(239, 234, 234, 0.1);"
        class="rounded-[20px] grid grid-cols-1 lg:grid-cols-2 border-[0.29px] border-[#95989D] h-auto lg:h-[350px] hover:scale-105 ease-in-out duration-300 lg:fadeRight lg:animation-element mt-12">
        <div class="h-full lg:h-[350px]">
            <a href="#" class="video-link" data-video-id="bujPjJS8jR0">
                <img class="w-full h-full lg:h-[350px] rounded-tl-2xl lg:rounded-bl-2xl lg:rounded-tr-none rounded-tr-2xl object-cover"
                    src="https://img.youtube.com/vi/bujPjJS8jR0/maxresdefault.jpg" alt="YouTube Video Thumbnail" />
            </a>
        </div>
        <div
            class="flex flex-col justify-center p-6 md:p-9 bg-white rounded-br-2xl rounded-bl-none rounded-tr-none lg:rounded-tr-2xl h-full lg:h-[350px]">
            <div class="text-slate-950 text-2xl md:text-4xl font-bold font-['Satoshi'] py-4">Interview with Carl Powell,
                CEO Javolin
                Group at Gitex Africa 2024</div>
            <div>
                <p class="text-[#3A3A3A] text-[14px] md:text-[16px] lg:text-[18px]">
                    Carl Powell was at the Gitex Africa 2024 conference in Morroco. Gitex is the LARGEST Tech & Startup
                    show
                    in Africa Powering Africa into the Global AI Economy.
                </p>
            </div>
            <div class="flex flex-row text-[12px] md:text-[13px] items-center mt-4 font-bold py-4">
                <div class="py-2 px-4 text-[#6CC24A] bg-[#E9F6E4] rounded-3xl">
                    TECH
                </div>
                <div class="text-[#5D6066] ml-6">
                    May 31
                </div>
            </div>
        </div>
    </div>
    
    <!-- Video Overlay -->
    <div id="videoOverlay" class="fixed inset-0 flex justify-center items-center hidden bg-gray-900 bg-opacity-75 z-50">
        <div class="relative rounded-lg overflow-hidden w-[90%] lg:w-[60%] p-4 lg:p-8">
            <div class="flex justify-end p-2">
                <button id="closeOverlay"
                    class="text-gray-500 hover:text-gray-700 text-2xl bg-white rounded-full w-10 h-10 flex items-center justify-center cursor-pointer">
                    &times;
                </button>
            </div>
            <div class="aspect-w-16 aspect-h-9 w-full h-full">
                <iframe id="videoFrame" class="w-full h-full rounded-lg" src="" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>


    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 mt-16 mb-12">
        <div
            class="h-auto bg-white rounded-2xl shadow border-[0.29px] border-neutral-400 flex flex-col hover:scale-105 ease-in-out duration-300 lg:fadeLeft lg:animation-element">
            <div class="relative h-56 md:h-60 overflow-hidden rounded-tl-2xl rounded-tr-2xl image-link">
                <!-- Image for desktop -->
                <img class="hidden lg:block absolute top-0 left-0 w-full h-full object-fill" src="/images/food_show.jpg" />
                <!-- Image for mobile and tablet -->
                <img class="block lg:hidden absolute top-0 left-0 w-full h-full object-fill"
                    src="/images/food_show_mobile.jpg" />
            </div>
            <div class="flex flex-col justify-start items-start gap-4 p-4 mt-0">
                <div class="flex-col justify-start items-start gap-3 flex">
                    <div class="text-slate-950 text-lg md:text-2xl font-bold font-['Satoshi']">JAVOLIN attends the 2024 Summer
                        Fancy Food Show in New York..</div>
                </div>
                <div class="flex justify-start items-center gap-4">
                    <div class="px-4 py-1 bg-red-100 rounded-full justify-center items-center gap-2 flex">
                        <div class="text-center text-amber-700 text-xs md:text-sm font-bold font-['Satoshi']">AGRI-TECH</div>
                    </div>
                    <div class="flex justify-start items-center gap-2">
                        <div class="text-zinc-600 text-xs md:text-sm font-bold font-['Satoshi']">June 23</div>
                        <div class="w-1 h-1 bg-zinc-500 rounded-full"></div>
                        <!-- <div class="text-zinc-600 text-xs md:text-sm font-bold font-['Satoshi']">10 mins read</div> -->
                    </div>
                </div>
            </div>
        </div>

        
<!-- Image Overlay -->
<div id="imageOverlay" class="fixed inset-0 flex justify-center items-center hidden bg-gray-900 bg-opacity-75 z-50">
    <div class="relative w-[90%] lg:w-[70%] max-w-5sxl max-h-[80vh] p-4 lg:p-8">
        <div class="absolute top-0 right-0 z-10">
            <button id="closeImageOverlay"
                class="text-gray-500 hover:text-gray-700 text-2xl bg-white rounded-full w-10 h-10 flex items-center justify-center cursor-pointer">
                &times;
            </button>
        </div>
        <div class="aspect-w-16 aspect-h-9 w-full h-full flex items-center justify-center">
            <img id="fullSizeImage" class="w-full h-full rounded-lg object-contain" src="" alt="Full Size Image">
        </div>
    </div>
</div>
<div
    class="h-auto bg-white rounded-2xl shadow border border-neutral-400 flex flex-col hover:scale-105 ease-in-out duration-300 lg:fadeRight lg:animation-element news-link">
    <div class="h-56 md:h-60 overflow-hidden rounded-tl-2xl rounded-tr-2xl">
        <!-- Image for desktop -->
        <img class="hidden lg:block w-full h-full object-fill" src="/images/jav_rbi.jpg" />
        <!-- Image for mobile and tablet -->
        <img class="block lg:hidden w-full h-full object-fill" src="/images/jav_rbi_mobile.jpg" />
    </div>
    <div class="flex flex-col justify-start items-start gap-4 p-4">
        <div class="flex-col justify-start items-start gap-3 flex">
            <div class="text-slate-950 text-lg md:text-2xl font-bold font-['Satoshi']">JAVOLIN Group Supply Consortium
                announce partnership with Real Blue International...</div>
        </div>
        <div class="flex justify-start items-center gap-4">
            <div class="px-4 py-1 bg-slate-200 rounded-full justify-center items-center gap-2 flex">
                <div class="text-center text-blue-800 text-xs md:text-sm font-bold font-['Satoshi']">AGRI-TECH</div>
            </div>
            <div class="flex justify-start items-center gap-2">
                <div class="text-zinc-600 text-xs md:text-sm font-bold font-['Satoshi']">Mar 03</div>
                <div class="w-1 h-1 bg-zinc-500 rounded-full"></div>
                <!-- <div class="text-zinc-600 text-xs md:text-sm font-bold font-['Satoshi']">10 mins read</div> -->
            </div>
        </div>
    </div>
</div>



<!-- News Item Overlay -->
<div id="newsOverlay" class="fixed inset-0 flex justify-center items-center hidden bg-gray-900 bg-opacity-75 z-50">
    <div
        class="relative w-[90%] lg:w-[70%] max-w-3xl max-h-[90vh] p-3 lg:p-3 bg-white rounded-3xl shadow overflow-y-auto">
        <div class="flex flex-col items-start gap-4 p-4">
            <img class="w-full rounded-3xl border border-slate-300" src="/images/jav_rbi.jpg" alt="News Image" />
            <div class="text-slate-950 text-lg md:text-2xl font-bold font-['Satoshi'] mt-4">The JAVOLIN GROUP – Key
                Holdings/ Roxy – Lotus Trade Consortium & Real Blue International confirm a partnership to
                increase trading efficiencies in the cashew industry in West Africa.</div>
            <div class="text-zinc-600 text-base md:text-base font-medium font-['Satoshi'] tracking-wide mt-4">
                A spokesperson for the Consortium, Mr. Emmanuel Goodhead, confirmed that the evolving relationship of
                the Group with RBI
                is of strategic importance. The consortium has very aggressive goals of tons of cashews to be
                procured and sold over
                the next five years from the West Africa region.<br /><br />
                Mr. Carl Powell, CEO & Chairman of Javolin Group, stated the following:<br /><br />
                “We are excited about our integration of the Digital and Physical components in the Agri Commodities
                sector on the
                continent of Africa. This partnership is a big step in our business strategy. This strategic
                collaboration brings
                together strong expertise from Asia, Africa and the United States. I’m excited about the impact we can
                have on the lives
                of small farmers and traders in the industry.”
            </div>
        </div>
    </div>
</div>
<button id="closeNewsOverlay"
    class="absolute top-[-24px] right-0 translate-x-1/2 text-gray-500 hover:text-gray-700 text-2xl bg-white rounded-full w-10 h-10 flex items-center justify-center shadow-lg">
    &times;
</button>


    </div>
</section>



